<h2>Resources</h2>

<p>Here we list resources related to our efforts on machine-actionable DMPs.</p>

<div id="resources">
{% bibliography -f resources %}
</div>


<div class="call-to-action">
  <h3>Missing a resource?</h3>
  <p>Have you come across a pertinent article or resource that's absent from our collection? If you've published relevant work, we'd love to hear from you! Help us enhance our list of resources.</p>
  <a class="btn btn-primary" target="_blank" href="https://github.com/ActiveDMPs/website/issues/new?assignees=&labels=Resource&projects=&template=resource.yml&title=Resource%3A+...">
    <i class="bi-lightbulb"></i> Suggest a Resource
  </a>
</div>
